/* ==================================================================
   Colors
   ================================================================== */

:root {
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);

  --color-facebook: rgb(59, 89, 152);
  --color-instagram: rgb(63, 114, 155);
  --color-twitter: rgb(85, 172, 238);
  --color-youtube: rgb(205, 32, 31);
}
