import React from 'react'
import { <%= Name %> } from '../<%= Name %>'

describe('<%= Name %>', () => {
  let component
  let instance

  beforeEach(() => {
    component = shallow(
      <<%= Name %> />
    )

    instance = component.instance()
  })

  it('should render', () => {
    expect(component.type()).to.eql('div')
  })
})
