import chai, { expect } from 'chai'
import chaiEnzyme from 'chai-enzyme'
import { shallow } from 'enzyme'
import React from 'react'
import { <%= Name %> } from '../<%= Name %>'

chai.use(chaiEnzyme())

describe('<%= Name %>', () => {
  let component

  beforeEach(() => {
    component = shallow(
      <<%= Name %> />
    )
  })

  it('should render', () => {
    expect(component.type()).to.eql('div')
  })
})
