import React, { PropTypes } from 'react'
import CSSModules from 'react-css-modules'
import styles from './<%= Name %>.css'

export const <%= Name %> = () =>
  <div />

<%= Name %>.propTypes = {}

export default CSSModules(<%= Name %>, styles)
