import React, { Component, PropTypes } from 'react'
import CSSModules from 'react-css-modules'
import styles from './<%= Name %>.css'

export class <%= Name %> extends Component {
  render () {
    return (
      <div />
    )
  }
}

<%= Name %>.propTypes = {}

export default CSSModules(<%= Name %>, styles)
