import alt from '../../alt'
import proxyquire from 'proxyquire'
import actionInformation from './actionInformation'
import <%= Name %>Actions from '../<%= Name %>Actions'

describe('<%= Name %>Actions', () => {
  let dispatcherSpy

  beforeEach(() => {
    dispatcherSpy = sinon.spy(alt.dispatcher, 'dispatch')
  })

  afterEach(() => {
    alt.dispatcher.dispatch.restore()
  })

  it('should instantiate', () => {
    expect(<%= Name %>Actions).to.be.an('object')
  })

  describe('#<%= FunctionName %>', () => {
    it('should dispatch', () => {
      <%= Name %>Actions.<%= FunctionName %>()

      const info = actionInformation(dispatcherSpy.args[0])

      expect(dispatcherSpy).calledOnce
      expect(info.action).to.eql('<%= Name %>Actions.<%= FunctionName %>')
      expect(info.data).to.be.true
    })
  })
})
